.features
    margin-top: 100px
    margin-bottom: 70px
    display: flex
    align-items: flex-end
    justify-content: space-between
    &__block
        max-width: 427px
        width: 100%
        &-title
            text-align: start
            font-size: 35px
            line-height: 50px
            margin-bottom: 20px
        &-text
            color: $gray
            font-size: 16px
            line-height: 30px
            margin-bottom: 20px
        &-list
            padding: 0
            &-item
                color: $gray
                font-size: 14px
                line-height: 30px
                font-weight: 300
                display: flex
                align-items: center
                list-style-type: none
                &::before
                    padding-right: 10px
                    content: url(../img/features/list-type.svg)
