.container {
  max-width: 1140px !important;
  margin-left: auto;
  margin-right: auto;
}

.container-b {
  margin-left: 1%;
  margin-right: 1%;
}

* {
  color: #0B132A;
  font-family: 'Rubik';
}

header {
  font-family: 'Roboto' !important;
}

a {
  color: #4F5665;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none !important;
}

a:hover {
  color: #F53838;
}

.main-button {
  border-radius: 10px;
  background-color: #F53838;
  color: white;
  border: 1px solid #F53838;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px 5px 11px 0px rgba(245, 56, 56, 0.35);
  box-shadow: 0px 5px 11px 0px rgba(245, 56, 56, 0.35);
}

.main-button:hover {
  background-color: white;
  color: #F53838;
}

h3 {
  text-align: center;
  font-weight: bold;
  color: #0B132A;
}

.subtitle {
  margin-top: 20px;
  max-width: 555px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container-link {
  margin-right: 40px;
}

.header__container-link:last-child {
  margin-right: 0px;
}

.signin {
  font-weight: bold;
  color: #0B132A;
  margin-right: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.signin:hover {
  color: #F53838;
}

.signup {
  border: 1px solid #F53838;
  border-radius: 50px;
  padding: 12px 35px 12px 35px;
  color: #F53838;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.signup:hover {
  background-color: #F53838;
  color: white;
}

.hero {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__block {
  max-width: 555px;
  width: 100%;
}

.hero__block-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
  margin-bottom: 20px;
}

.hero__block-subtitle {
  color: #4F5665;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
}

.hero__block-button {
  font-weight: 700;
  padding: 17.5px 78px;
  -webkit-box-shadow: 0px 5px 11px 0px rgba(245, 56, 56, 0.35);
  box-shadow: 0px 5px 11px 0px rgba(245, 56, 56, 0.35);
}

.statics {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.15);
}

.statics__item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 113px;
  padding-left: 113px;
}

.statics__item:nth-child(2) {
  border-right: 1px solid #EEEFF2;
  border-left: 1px solid #EEEFF2;
}

.statics__item-block {
  margin-left: 36px;
}

.features {
  margin-top: 100px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__block {
  max-width: 427px;
  width: 100%;
}

.features__block-title {
  text-align: start;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
}

.features__block-text {
  color: #4F5665;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
}

.features__block-list {
  padding: 0;
}

.features__block-list-item {
  color: #4F5665;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.features__block-list-item::before {
  padding-right: 10px;
  content: url(../img/features/list-type.svg);
}

.plan {
  padding-top: 80px;
}

.plan-subtitle {
  margin-bottom: 60px;
}

.plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan__list-item {
  padding-top: 80px;
  padding-bottom: 40px;
  max-width: 330px;
  width: 100%;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.plan__list-item:hover {
  border: 1ps solid;
  border-color: #F53838;
}

.plan__list-item:hover .plan__list-item-button {
  background: #F53838;
  color: white;
}

.plan__list-item-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.plan__list-item-ul {
  list-style-type: none;
}

.plan__list-item-ul-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plan__list-item-ul-li::before {
  padding-right: 20px;
  content: url(../img/plan/checkmark.svg);
}

.plan__list-item-button {
  margin-top: 20px;
  padding: 10px 52px;
  font-weight: bold;
  color: #F53838;
  background-color: white;
  border: 2px solid #F53838;
  border-radius: 50px;
}

.network {
  margin-top: 150px;
}

.network-subtitle {
  margin-bottom: 150px;
}

.partners {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews {
  margin-top: 50px;
}

.reviews__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__list-item {
  padding: 30px;
  width: 100%;
  max-width: 450px;
  border: 2px solid #DDDDDD;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 20px;
  height: 230px;
}

.reviews__list-item:last-child {
  margin-right: 0px;
}

.reviews__list-item:hover {
  border-color: #F53838;
}

.reviews__list-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__list-item-header-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__list-item-header-about-info {
  margin-left: 20px;
}

.reviews__list-item-header-about-info-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1px;
}

.reviews__list-item-header-about-info-location {
  color: #4F5665;
  font-size: 14px;
}

.reviews__list-item-header-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__list-item-header-rating-text {
  margin-right: 10px;
}

.slick-dots {
  padding: 0;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 135px;
  list-style-type: none;
}

.slick-dots button {
  width: 15px;
  height: 15px;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slick-dots button:focus {
  background-color: #F53838;
}

.slick-dots button:hover {
  background: #F53838;
}

.dots {
  margin: 0;
  width: 100%;
  max-width: 135px !important;
  padding: 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrow {
  border: 2px solid #F53838;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.arrow:first-child {
  margin-right: 20px;
}

.arrows {
  margin-top: 60px;
}

.arrow:hover {
  background-color: #F53838;
}

.arrow:hover path {
  fill: white;
}

.offer {
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 58px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 17px;
  -webkit-box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.15);
}

.offer__block {
  max-width: 410px;
  width: 100%;
}

.offer__block-title {
  text-align: left;
}

.offer-button {
  padding: 18px 65px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.footer__block {
  max-width: 340px;
  width: 100%;
}

.footer__block-text {
  font-weight: 500;
  margin-top: 20px;
}

.footer__block-nav {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  max-width: 140px;
  width: 100%;
}

.footer__block-nav-link:hover path {
  fill: #F53838;
}

.footer__block-nav-link:hover circle {
  fill: white;
}

.footer__container {
  max-width: 570px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 124px;
  width: 100%;
}

.footer__container-item-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__container-item-link {
  font-size: 16px;
  line-height: 30px;
}
/*# sourceMappingURL=main.css.map */